@model WebAppMvc1.Models.Purchase
@{
    ViewBag.Title = "Покупка машины";
}

<div>
    <h3> Оформление заказа</h3>

    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @*<input type="hidden" value="@ViewBag.CarId" name="CarId" />*@
        @*@Html.Hidden("CarId", ViewBag.CarId as string)*@

        @Html.HiddenFor(m=>m.CarId )
        <table>
            <tr>
                <td><p>@Html.Label("FIO", "Введите имя")</p></td>
                <td>@Html.TextBoxFor(m=>m.FIO)</td>
            </tr>
            <tr>
                <td><p>@Html.Label("Address", "Введите адрес")</p></td>
                <td>
                   @Html.TextBox("Address", "Введите адрес")
                </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /></td></tr>
        </table>
    }

    @*<form method="post">      

    </form>*@
</div>

