@{ 
//Layout = "~/Views/Shared/_Layboop.cshtml";
//Layout = null;
}

@using WebAppMvc1.Models;
@model IEnumerable<Car>
@{
    ViewBag.Title = "Home Page";
}

<a href="~/Home/Create">Создать машину</a>

<div>
<h3>Распродажа машин</h3>
    <table>
        <tr>
            <td>Название машины</td>
            <td>Модель</td>
            <td>Цена</td>
            <td></td>
        </tr>
       @foreach (var car in Model)
       {
            <tr>
                <td><p>@car.Name</p></td>
                <td><p>@car.Model</p></td>
                <td><p>@car.Price</p></td>
                <td><p><a href="/Home/Buy/@car.id">Купить машину</a></p></td>
            </tr>
       }
    </table>
    
</div>

@using (Html.BeginForm("GetForm", "Home", FormMethod.Post))
{
   
    @Html.ListBox("countries", new MultiSelectList(new string[] { "Россия", "Украина", "Белорусь"}))
    
    @*@Html.DropDownList("Model", ViewBag.Models as SelectList)*@
    
    
    @*@Html.CheckBox("set", false) <span>Включить</span>*@

    @*@Html.RadioButton("color", "red")
    <span>Красный</span><br />
    @Html.RadioButton("color", "blue")
    <span>синий</span><br />
    @Html.RadioButton("color", "green",true)
    <span>зеленый</span>*@

    @*@Html.TextArea("text","дратути", 5, 50, null)*@

    <input type="submit" value="Send" />
}


@*@helper CarList(IEnumerable<Car> cars)
        {
            <ul>
                @foreach (Car b in cars)
                {
                    <li>@b.Name</li>
                }
            </ul>
        }
    <h3>Список машинок</h3>
    @CarList(Model)
    *@


@*@helper  createList(string[] all)
    {
        <ul>
            @foreach (string s in all)
            {
                <li>@s</li>
            }
        </ul>

    }*@


@{ 
        string[] cities = new string[] { "Москва", "Осло", "Стокгольм" };
}

@{
    string[] countries = new string[] { "Россия", "Норвегия", "Швеция" };
}

@*<h3>города</h3>
    @createList(cities)

    <h3>страны</h3>
    @createList(countries)*@

@* можно делать и так, и так. *@
@using CarAppStore.Helpers
@Html.CreateList(cities)
@ListHelper.CreateList(Html,countries)




@Html.Action("GetList")

@*@Html.Partial("_GetList", new string[] { "rus", "swe", "nor" })*@

@*@@{ Html.RenderPartial("_GetList");}*@

@section Footer     {
    <h5>КАААААААААААААААААААбуп </h5>
}